# Lenier regression by Gradient Decent

In [53]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

In [54]:
df = pd.read_excel("data.xlsx")

In [55]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [56]:
x=df['x']
y=df['y']

In [57]:
print (x,y)

0     48.955889
1     44.687196
2     60.297327
3     45.618644
4     38.816818
        ...
94    50.030174
95    49.239765
96    50.039576
97    48.149859
98    25.128485
Name: x, Length: 99, dtype: float64 0     60.723602
1     82.892504
2     97.379897
3     48.847153
4     56.877213
        ...
94    81.536991
95    72.111832
96    85.232007
97    66.224958
98    53.454394
Name: y, Length: 99, dtype: float64

In [58]:
m=0
c=0
learning_rate=0.0001

n=int(len(x))
n

99

In [59]:
df.shape

(99, 2)

In [60]:
for i in range(1000):
    pred = m*x+c
    der_m =(-2/n)*sum(x*(y-pred))
    der_c =(-2/n)*sum(y-pred)
    
    m= m-learning_rate*der_m
    c= c-learning_rate*der_c
    
print(m,c)

1.4796491688881985 0.10148121497503648

In [61]:
y = m*38.816818+c
y

57.5367537075595

# Multi Variable Regression

In [62]:
import seaborn as sns

In [63]:
df = pd.read_excel("insurance.xlsx")

In [64]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [66]:
df.isna().sum() # isnull = isna

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [67]:
df.nunique()

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

# One Hot (short form)

In [36]:
from sklearn.preprocessing import OrdinalEncoder
od = OrdinalEncoder(dtype= int)

In [27]:
df= pd.get_dummies(df,drop_first='True',dtype= int)

In [28]:
df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False

In [43]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['sex_male', 'smoker_yes','region_northwest','region_southeast','region_southwest'],dtype=int)
print(one_hot_encoded_data)

      age     bmi  children      charges  sex_male_False  sex_male_True
0      19  27.900         0  16884.92400               1              0  \
1      18  33.770         1   1725.55230               0              1
2      28  33.000         3   4449.46200               0              1
3      33  22.705         0  21984.47061               0              1
4      32  28.880         0   3866.85520               0              1
...   ...     ...       ...          ...             ...            ...
1333   50  30.970         3  10600.54830               0              1
1334   18  31.920         0   2205.98080               1              0
1335   18  36.850         0   1629.83350               1              0
1336   21  25.800         0   2007.94500               1              0
1337   61  29.070         0  29141.36030               1              0

      smoker_yes_False  smoker_yes_True  region_northwest_False
0                    0                1                       1  \
1                    1                0                       1
2                    1                0                       1
3                    1                0                       0
4                    1                0                       0
...                ...              ...                     ...
1333                 1                0                       0
1334                 1                0                       1
1335                 1                0                       1
1336                 1                0                       1
1337                 0                1                       0

      region_northwest_True  region_southeast_False  region_southeast_True
0                         0                       1                      0  \
1                         0                       0                      1
2                         0                       0                      1
3                         1                       1                      0
4                         1                       1                      0
...                     ...                     ...                    ...
1333                      1                       1                      0
1334                      0                       1                      0
1335                      0                       0                      1
1336                      0                       1                      0
1337                      1                       1                      0

      region_southwest_False  region_southwest_True
0                          0                      1
1                          1                      0
2                          1                      0
3                          1                      0
4                          1                      0
...                      ...                    ...
1333                       1                      0
1334                       1                      0
1335                       1                      0
1336                       0                      1
1337                       1                      0

[1338 rows x 14 columns]

In [51]:
df =one_hot_encoded_data

In [52]:
df.head()

,age,bmi,children,charges,sex_male_False,sex_male_True,smoker_yes_False,smoker_yes_True,region_northwest_False,region_northwest_True,region_southeast_False,region_southeast_True,region_southwest_False,region_southwest_True
0,19,27.900,0,16884.92400,1,0,0,1,1,0,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,1,0,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0,1,0,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,1,0,1,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,1,0,1,0